button{
  border: none;
  background: transparent;
  font-size: $text-body-1;
  cursor: pointer;
}
.btn{
  padding: 0 16px;
  height: 36px;
  border-radius: 4px;
}
.btn-accent{
  background-color: $blue-light-1;
  color: $blue;
  &:hover{
    background-color: $blue;
    color: $white;
  }
}
.btn-flat{
  background-color: transparent;
  &:hover{
    background-color: $accent-light;
  }
}
.btn-primary{
  background-color: $primary;
  color: $white;
  &:hover{
    background-color: $primary-light;
  }
}