.tooltip--wrapper{
  &:hover{
    .tooltip{
      visibility: visible;
      opacity: 1;
    }
  }
}
.tooltip{
  visibility: hidden;
  opacity: 0;
  color: $white;
  background-color: $primary;
  border-radius: 4px;
  padding: 4px 16px;
  white-space: nowrap;
  font-size: 12px;
  transition: transform .3s ease,opacity .3s ease,visibility .3s ease;
  position: absolute;
  left: 50%;
  right: unset;
  bottom: calc(100% + 0.8rem);
  transform: translate(-50%,5px);
  z-index: 2;
  &::before{
    content: "";
    position: absolute;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    border-width: 0.3rem;
    border-color: $primary transparent transparent transparent;
  }
}