@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  font-size: 16px;
}

.text-subtitle-1 {
  font-size: 24px;
}

.text-subtitle-2 {
  font-size: 20px;
}

.text-body-1 {
  font-size: 16px;
}

.text-body-2 {
  font-size: 14px;
}

.text-primary {
  color: #d7130a;
}

.text-secondary {
  color: rgba(0, 0, 0, 0.5);
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-positive {
  color: rgb(30, 148, 88);
}

.text-negative {
  color: #f51105;
}

.text-grey-1 {
  color: rgba(0, 0, 0, 0.26);
}

.text-capitalize {
  text-transform: capitalize;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.text-weight-thin {
  font-weight: 300 !important;
}

.text-weight-regular {
  font-weight: 400 !important;
}

.text-weight-medium {
  font-weight: 500 !important;
}

.text-weight-bold {
  font-weight: 600 !important;
}

.text-weight-bolder {
  font-weight: 700 !important;
}

.text-weight-black {
  font-weight: 900 !important;
}

.bg-primary {
  background-color: #d7130a;
}

.bg-secondary {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-white {
  background-color: #fff;
}

.bg-primary-light-1 {
  background-color: rgba(215, 20, 10, 0.231372549);
}

.text-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap;
}

.mark-price {
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal;
}

.discount--badge {
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 8px;
}

.header--container {
  background-color: #fff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  max-width: 1610px;
  height: 50px;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 10;
  border-bottom: 1px solid var(--NN50, #F0F3F7);
}

.logo--wrapper img {
  max-width: 40px;
}

@media screen and (min-width: 768px) {
  .header--container {
    padding: 16px 0;
    height: 72px;
  }
}
@media screen and (min-width: 1024px) {
  .header--container {
    padding: 20px 0;
    height: 100px;
  }
  .logo--wrapper img {
    max-width: 60px;
  }
}
.container {
  max-width: 1610px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.main--container {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main--container {
    margin-top: 72px;
    padding-top: 24px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding-left: 36px;
    padding-right: 36px;
  }
  .main--container {
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 60px;
  }
}
.footer--container {
  border-top: 1px solid var(--NN300, #BFC9D9);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

input {
  border-style: none;
  background-color: transparent;
  font-size: 16px;
  width: 100%;
}
input:focus {
  outline: none;
}
input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.231372549);
}
input::placeholder {
  color: rgba(0, 0, 0, 0.231372549);
}

.input--wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.input-outline .input--control {
  border: 1px solid;
}

.input--control {
  padding-left: 12px;
  padding-right: 12px;
  min-height: 36px;
  padding-top: 4px;
  border-radius: 4px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

.prepend-inner--wrapper, .append-inner--wrapper {
  opacity: 0.5;
}

.prepend-inner--wrapper, .prepend-outer--wrapper {
  margin-right: 8px;
}

.prepend-outer--wrapper, .append-outer--wrapper {
  margin-top: 4px;
}

.append-inner--wrapper, .append-outer--wrapper {
  margin-left: 8px;
}

.input--email--subs {
  border-radius: 40px;
}
.input--email--subs input {
  padding: 20px 0;
}
.input--email--subs .append-outer--wrapper {
  margin-top: 0;
}

button {
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

.btn {
  padding: 0 16px;
  height: 36px;
  border-radius: 4px;
}

.btn-accent {
  background-color: rgba(39, 23, 111, 0.2352941176);
  color: #27176f;
}
.btn-accent:hover {
  background-color: #27176f;
  color: #fff;
}

.btn-flat {
  background-color: transparent;
}
.btn-flat:hover {
  background-color: rgba(89, 95, 102, 0.0901960784);
}

.btn-primary {
  background-color: #d7130a;
  color: #fff;
}
.btn-primary:hover {
  background-color: rgba(215, 20, 10, 0.8823529412);
}

.flex {
  display: flex;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.nowrap {
  flex-wrap: nowrap;
}
.flex.items-center {
  align-items: center;
}
.flex.items-end {
  align-items: flex-end;
}
.flex.justify-between {
  justify-content: space-between;
}
.flex.justify-around {
  justify-content: space-around;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-end {
  justify-content: end;
}

.tooltip--wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  color: #fff;
  background-color: #d7130a;
  border-radius: 4px;
  padding: 4px 16px;
  white-space: nowrap;
  font-size: 12px;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  position: absolute;
  left: 50%;
  right: unset;
  bottom: calc(100% + 0.8rem);
  transform: translate(-50%, 5px);
  z-index: 2;
}
.tooltip::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  border-width: 0.3rem;
  border-color: #d7130a transparent transparent transparent;
}/*# sourceMappingURL=app.css.map */